*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#222222;
    
}
header{
    background-color:#222222;
    color: white;
}

.navbar-nav{
    margin-left: auto;
}
header li{
    margin: 0.5rem 1rem;
    /* padding:0rem; */
    border-radius: 5px;
}

#navbarNav li a{
    /* color: aliceblue; */
    color:white;
    font-size: large;
    font-weight: 400;
}
#side-menu{
    margin-top: 3rem;
}
#side-menu .navbar{
    background-color:#222222;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    
}
#side-menu .navbar-nav{
    display: flex;
    flex-direction:column;
}
#side-menu li{
    margin: 1rem 0;
}
#side-content{
    background-color: black;
}
.content-wrapper{
    border-radius:5px ;
    background-color: #222222;
    color: antiquewhite;
    margin: 2rem 1rem;
    padding:10px 1rem;
}
.content-wrapper h2{
    margin-bottom: 1rem;
}
.content-wrapper textarea{
    width: 70%;
    height:10rem;
    margin-bottom: 2rem;
    display:block;
    padding:10px;
}
.content-wrapper #optionsSelect{
    width: 50%;
    /* display: block; */

}
.content-wrapper button{
    position: absolute;
    right:10%;
    margin-bottom: 10px;
} 
#text-to-speech{
    /* border: 1px solid white; */
    display: block;
}
#img-to-text{
    display:none;
}
#output{
    color: white;
}
.remind{
    color: red;
    margin-bottom: 2rem;
}